{% load i18n %}
{% load query_analyzer_tags %}
<html>

    <head>
        <link href="{{ ADMIN_MEDIA_PREFIX }}css/base.css" rel="stylesheet" type="text/css" />
        <link href="{{ ADMIN_MEDIA_PREFIX }}css/dashboard.css" rel="stylesheet" type="text/css" />
        <link href="{{ ADMIN_MEDIA_PREFIX }}css/forms.css" rel="stylesheet" type="text/css" />
        <link href="{{ ADMIN_MEDIA_PREFIX }}css/widgets.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <form method="get">
            <dl>
                <dt>{% trans "SQL" %}</dt>
                <dd>
                    <textarea name="sql">{{ sql|safe }}</textarea>
                    <input type="submit" value="Execute" />
                </dd>
                <dt>Models</dt>
                <dd>
                    <select id="model-select">
                        <option> -- </option>
                    </select>
                </dd>
            </dl>
        </form>

        {% if sql %}
        {% blocktrans %}
        <p>The query executed in {{ duration }} milliseconds.</p>
        {% endblocktrans %}
        {% endif %}

        <h2>{{ select_result|length }} row{{ select_result|pluralize }} returned</h2>
        {% if select_result %}
        <table>
            <thead>
                <tr>
                    {% for h in select_headers %}
                        <th>{{ h|upper }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in select_result %}
                    <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                        {% for column in row %}
                            <td>{{ column|escape }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if explain_result %}
        <h2>Explanation</h2>
        <table>
            <thead>
                <tr>
                    {% for h in explain_headers %}
                        <th>{{ h|upper }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in explain_result %}
                    <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                        {% for column in row %}
                            <td>{{ column|escape }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% include_raw "query_analyzer/tempest_model_option.html" %}
        {% include_raw "query_analyzer/tempest_fields_option.html" %}
        {% include_raw "query_analyzer/tempest_related_fields_option.html" %}
        {% include_raw "query_analyzer/tempest_managers_option.html" %}

        <script src="{{ ADMIN_MEDIA_PREFIX }}js/jquery.min.js" rel="stylesheet" type="text/javascript"></script>
        <script type="text/javascript">
            {% comment %}
            If we do includes for our media, we don't need to worry about
            putting "QUERY_ANALYZER_MEDIA" or whatever in our settings and makes
            installation a little easier, which I think is a win even though the
            files won't be cached by the browser. We also get to access url
            reverses via the url template tag.
            {% endcomment %}

            {% include_raw "query_analyzer/jquery.tempest.js" %}
            {% include "query_analyzer/base.js" %}
        </script>

    </body>

</html>
